<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/css">
        .container {
            min-height: 100px;

            display:flex;
            display:-webkit-flex;
            display:-ms-flex;
            display:-moz-flex;
            display:-o-flex;
            justify-content: space-around;
        }

        .box {
            width: 150px;
            height: 150px;
            background: #ffaaaa;
            margin: auto;

        }
    </script>
</head>
<body>
    <div class="container">
        <div class="box">
            test
        </div>

        <div class="box">
            test

        </div>

        <div class="box">
            test

        </div>

        <div class="box">
            test

        </div>
    </div>
</body>
</html>