{% extends 'base.html' %}
{% load  staticfiles %} <!--每个页面都要注册?-->
{% block title %}管理中心{% endblock %}

{% block css %}

{% endblock %}

{% block js %}

{% endblock %}


{% block body %}
<body>
	<div class="hjh-container">
      <div class="hjh-HolyGrail">
        <div class="hjh-Header">#header</div>
        <div class="hjh-HolyGrail-body">
          <div class="hjh-HolyGrail-content">#center</div>
          <div class="hjh-HolyGrail-nav">#left</div>
          <div class="hjh-HolyGrail-ads">#right</div>
        </div>
        <div class="hjh-Footer">#footer</div>
      </div>
    </div>


</body>
{% endblock %}
