{% extends 'base.html' %}
{% load  staticfiles %} <!--每个页面都要注册?-->
{% block title %}登录{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'flex/style.css' %}">

{% endblock %}

{% block js %}
    <script type="text/javascript">
    $(document).ready(function(){
        $("#btn_login").click(function(){
            let value = $("#text_account").val();
            if (value == null || value === ""){
                alert('账号不能为空');
            }else{
                value = document.getElementById("text_pwd").value;
                if (value == null || value === "") {
                    alert('密码不能为空');
                }
            }
        });
    });
    </script>
{% endblock %}

{% block body %}
<body>


    <view class='container_login'>

      <view class='header'>
        <img src="{% static 'images/favicon_blog.ico' %}" class='header-img'/>
      </view>

      <view class='content'>
        <view class='input'>
          <view class='account'>
            <text>账号 </text>
            <view class='line'></view>
            <input type="text" id="text_account"></input>
          </view>
          <view class='password'>
            <text>密码 </text>
            <view class='line'></view>
            <input password='true' id="text_pwd"></input>
          </view>
        </view>
        <view class='commit'>
          <button id="btn_login">登 录</button>
        </view>
      </view>

      <view class='footer'>
        <view class='userTip'>
          <text>忘记密码</text>
          <text>新用户注册</text>
        </view>
      </view>

    </view>

	<div class="layout-direction-vertical layout-style-config layout-horizontal-center layout-vertical-center" hidden>

		<div class="layout-center">
            登录

        </div>

	</div>
</body>
{% endblock %}

