<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}默认标题{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'images/favicon_blog.ico' %}" type="image/x-icon">
  <!--
    <link rel="stylesheet" href="/DjangoBootstrap/static/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="{% static 'bootstrap/4.4.1/js/jquery-3.4.1.min.js' %}"></script>
    <script src="/DjangoBootstrap/static/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    {% block body %}
        内容
    {% endblock %}


</body>
</html>